/*CSS 초기화*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*초기화 끝*/

/*폰트*/
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family:'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/*폰트 끝*/

/*공통 요소*/
* {
    scroll-behavior: smooth;
    text-decoration-line: none;
    color: black;
}

body {
    font-family:'Pretendard-Regular';
}
/*버튼*/
.download, .show_more, .subscribe_btn, .thanks {
    height: 50px;
    padding: 0 32px;
    border: 0;
    border-radius: 40px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #D97652;
    cursor: pointer;
}
/*공통 요소 끝*/

/*헤더*/
header {
    height: 900px;
    padding: 0;
    background-color: #F2E9D8;
}
/*상단 네비게이터*/
.header_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 102px;
    padding: 0 320px 0 320px;
    line-height: 102px;
}
.hodu_head_logo {
    float: left;
    display: block;
    width: 130px;
    height: 40px;
    background: url("hodo_logo.png") no-repeat;
    background-size: contain;
    text-indent: -9999px;
}
.hodu_nav {
    float: right;
}
.hodu_nav li {
    float: left;
}
.hodu_nav li a {
    margin: 41px 15px;
    font-size: 16px;
}
.hodu_nav .download {
    margin-left: 34px;
}
/*상단 네비게이터 끝*/

/*헤더 메인 표지*/
.header_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 320px 0 320px;
}
.header_main div {
    float: left;
    flex-direction: column;
}
.explain_big {
    font-family: 'Pretendard-Bold';
    font-size: 48px;
}
.explain_lit {
    margin: 40px 0;
}
.box_cat {
    float: right;
    padding-top: 32px;
    width: 415px;
    height: 766px;
}
/*헤더 메인 표지 끝*/
/*헤더 끝*/

/*메인 시작*/
/*메인 이미지 설명*/
.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 320px 0 320px;
}
.lying_cat {
    float: left;
    width: 660px;
    height: 390px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0 #00000040;
}
.main_header div {
    float: right;
    flex-direction: column;
}
.main_explain_big {
    padding-bottom: 40px;
    font-family: 'Pretendard-Bold';
    font-size: 36px;
    line-height: 45px;
}
.main_explain_lit, map_explain_lit {
    font-size: 16px;
    line-height: 20px;
}
/*메인 이미지 설명 끝*/

/*이미지 처리 공간 설명*/
.main_img_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 120px 320px 0 320px;
}
.main_img_text {
    text-align: center;
}
.img_explain_big {
    font-family: 'Pretendard-Bold';
    font-size: 48px;
    line-height: 60px;
    color: #D97652;
}
.img_explain_lit {
    padding-top: 40px;
    font-size: 16px;
    line-height: 20px;
}
.img_explain_lit strong {
    color: #D97652;
}
/*이미지 처리 공간 설명 끝*/

/*이미지 처리 공간*/
.main_hodu, .loading_hodu.active {
    display: grid;
}
.main_hodu, .loading_hodu {
    margin-top: 72px;
    grid-template-columns: 378px 1fr 1fr;
    grid-template-rows: 378px 1fr;
    gap: 72px 72px;
}
/*JS 이미지 처리 공간*/
.loading_hodu {
    display: none;
}
.main_img ul img {
    width: 378px;
    height: 378px;
    border-radius: 30px;
    transition: all 0.5s linear;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
}
.main_img ul img:hover {
    transform: scale(1.2);
}
.loading_hodu img {
    opacity: 0;
}
/*이미지 처리 공간 끝*/

/*show more 버튼*/
.main_img_more {
    align-items: center;
    text-align: center;
}
.main_img_more_text {
    padding-top: 100px;
    padding-bottom: 28px;
    font-family: 'Pretendard-Bold';
    font-size: 24px;
    line-height: 30px;
}
/*show more 버튼 끝*/

/*구분선*/
.line {
    width: 1278px;
    margin-top: 80px;
    border-top: 1px solid rgba(196, 196, 196, 1);
}
/*메인 끝*/
/*맵 관련 설명*/
.total_map_box {
    display: flex;
    justify-content: center;
}
.total_map {
    padding: 68px 320px 0 320px;
}
.map_explain {
    font-family: 'Pretendard-Bold';
    font-size: 36px;
    line-height: 45px;
}
.map_explain_lit {
    padding-top: 20px;
    padding-bottom: 48px;
}
/*카카오 지도*/
#map {
    z-index: 0;
    width:1278px;
    height:520px;
}
/*맵 관련 설명 끝*/

/*footer 시작*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*구독 박스*/
.subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 100px;
    padding: 0 58px;
    width: 1280px;
    height: 200px;
    border-radius: 30px;
    background-color: rgba(38, 49, 64, 1);
}
.subscribe +div {
    float: left;
}
.subscribe_explain {
    font-family: 'Pretendard-Bold';
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
}
.subscribe_explain_lit {
    padding-top: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.subscribe +div+div {
    float: right;
}
.subscribe input {
    padding: 0 150px 0 68px;
    width: 412px;
    height: 60px;
    border-radius: 60px;
    font-size: 16px;
    background: url("mail.svg") no-repeat 28px;
    background-color: #FFFFFF;
    background-size: 24px;
}
.subscribe input::placeholder {
    font-size: 16px;
    line-height: 20px;
    color: rgba(118, 118, 118, 1);
}
.subscribe_btn{
    position: absolute;
    top: 75px;
    right: 68px;
}
/*구독박스 끝*/

/*footer 이미지와 링크*/
/*상단 이동과 이미지*/
.footer_img {
    width: 1920px;
    height: 340px;
    background: url("img_5.png") no-repeat center / cover;
    color: rgba(242, 233, 216, 0.6);
}

.to_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 25px;
    bottom: 180px;
    text-indent: -9999px;
    background: url("scroll-top-btn_hover.png") no-repeat center;
}
.to_top:hover {
    background: url("scroll-top-btn.png") no-repeat center;
}
/*상단 이동과 이미지 끝*/

.footer_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1920px;
    height: 160px;
    padding: 0 320px;
    box-sizing: border-box;
}
.footer_tab, .footer_link li {
    float: left;
}
.hodu_footerlogo {
    width: 226px;
    height: 70px;
}
.footer_link {
    float: right;
}
.footer_link li {
    padding-left: 20px;
}
.footer_link li a {
    display: inline-block;
    width: 42px;
    height: 42px;
    text-indent: -9999px;
    background: url("icon-blog.png") no-repeat;
}
.footer_link li +li a {
    background: url("icon-insta.png") no-repeat;
}
.footer_link li +li +li a {
    background: url("icon-facebook.png") no-repeat;
}
.footer_link li +li +li +li a {
    background: url("icon-youtube.png") no-repeat;
}

/*footer 끝*/

/*모달창*/
.modal_bg {
    display: none;
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal_pop {
    display: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    height: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    background: url("modalbg.png") no-repeat center;
    background-size: 600px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
.modal_pop img {
    width: 110px;
    height: 112px;
    margin-top: 60px;
}
.thanks_text {
    margin-top: 24px;
    font-family: 'Pretendard-Bold';
    font-size: 36px;
    color: #D97652;
}
.thanks_text_lit {
    margin-top: 12px;
    font-size: 14px;
    line-height: 18px;
}
.thanks {
    margin-top: 38px;
}
/*모달창 끝*/

/*로딩창*/
.loading {
    display: block;
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
}
.loading img {
    position: fixed;
    top: 50%;
    left: 50%;
}
/*로딩창 끝*/
